:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);

    --font-family: 'Inter', sans-serif;
    --font-size-paragraph: 14px;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-paragraph);
    color: var(--white);
    background-color: var(--off-black);
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 700;
}

p {
    font-size: var(--font-size-paragraph);
}


button {
    font-weight: 600;
    background-color: var(--grey);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

button:hover,
button:focus {
    background-color: var(--green);
    outline: none;
}

@media (max-width: 375px) {
    body {
        font-size: 12px;
        /* Adjust as needed for smaller screens */
    }
}

@media (min-width: 1440px) {
    .container {
        width: 1440px;
        margin: 0 auto;
    }
}